/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-font-family:  "consolas";
	-fx-background-image:url(../../image/background.jpg) ;
	-fx-background-size:stretch ;
	-fx-background-position:center ;
}
#text{
	
}

.button{
	-fx-background-color:white ;
 	-fx-background-radius:25 ;
}


.button:hover{
	-fx-background-color:lightblue ;
}

.button:pressed{
	-fx-background-color:gray   ;
}
